.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.bio {
  text-align: center;
  color: gray;
  margin-top: 16px;
  margin-bottom: 40px;
}

.waveButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  
}

.wavemeButton {
  background-color: #EC008c;
  color: #ffffff;
  padding: 10px 32px;
  margin:  12px auto;
  width: auto;
  border-radius: 11px;
  box-sizing: border-box;
  font-size: 14px;
}

.vsc-initialized {
  background-color: #040719;
}

.messageBox {
  width: 80%;
  height: 1em;
  margin:  0 auto;
  line-height: 1.2em;
  padding: 0.5em;
}

.colorPink{
  color: #Ec008C;
}

.textColor {
  color: #ffffff;
}

 